@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Comfortaa&family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Roboto&family=Varela+Round&display=swap');
@tailwind base;
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html{
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth !important;
}
table.basic{
    @apply w-full rounded-md
}
table.basic thead tr td,
table.basic thead tr th{
    @apply bg-blue-100  
}
table.basic tr td{
    @apply border border-blue-200 p-1 pl-3 w-28;
}


@tailwind components;
@tailwind utilities;